.connect-popup {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: clamp(1.875rem, 1.7857rem + 0.4762vw, 2.5rem);
  z-index: 999;
  width: 80%;
  max-width: 500px;
  box-sizing: border-box;
  transition: visibility 0.3s ease;
}

.open-popup {
  visibility: visible;
}

.close-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  outline: none;
  top: 0%;
  right: 0%;
  margin: 1.5%;
  text-decoration: none;
  cursor: pointer;
  z-index: 11;
  transition: color 0.2s;
}

.close-button:hover {
  color: #ccc;
}

@media (width < 1040px) {
  .close-button {
    margin: 2%;
  }
}

@media (width < 800px) {
  .close-button {
    margin: 3%;
  }
}

@media (width < 500px) {
  .close-button {
    margin: 4%;
  }
}
